{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ThisForThat, Trade your stuff. For Free.{% endblock %}</title>
    <!-- Bootstrap -->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap-carousel.js"></script>
	<script src="/js/application.js"></script>
	<!-- Backbone javascript client stuff  -->
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/js/json2.js"></script>
	<script src="/js/ICanHaz.min.js"></script>
	<!-- Stylez	-->
	<link href="/css/bootstrap.css" rel="stylesheet" media="screen"> 
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
	
	<!-- Our written javascript for database integration -->
	<script src="/js/offers.js"></script> 
	<script src="/js/listings.js"></script>
  </head>
  <body>  
		<!-- TOP BAR -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/"><div id="brandlogo"></div></a></a>
					<div class="nav-collapse collapse">
						<form class="navbar-search pull-left" >
							<input type="text" class="search-query" placeholder="Search"/>
						</form>
						
						<ul class="nav">
							<li><a href="/browse" role="button">Browse</a></li>
							<li class="divider-vertical" />
						</ul>
						{% if user.is_authenticated %}
    						<ul class="nav pull-right">
    			            <li><a role="button">Welcome, {{ user.username }}.</a></li>
							<li class="divider-vertical" />
							<li><a href="/logout" role="button">Logout</a></li>
						</ul>    					
						{% else %}						
						<ul class="nav pull-right">
							<li class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
								<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
								<form id="loginform" action="/login/" method='post'>
								  <input id="user_username" style="margin-bottom: 15px;" type="text" name="username" size="30" placeholder="Username" />
								  <input id="user_password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password" />
								  <div id="loginresult" name="loginresult"></div>
								  <!-- <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" /> 
								  <label class="string optional" for="user_remember_me"> Remember me</label>-->
								 
								  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
								</form>
								<div id="loginresult" name="loginresult"></div>
								</div>
							</li>
						</ul>
						
						<ul class="nav pull-right">
							<li><a href="#reg-modal" role="button" data-toggle="modal">Sign up</a></li>
							<li class="divider-vertical" />
						</ul>
						    
							{% endif %}

						
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="reg-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create an account</h3>
			</div>
			<div class="modal-body">
				<div id="registrationform" name="registrationform"></div>
				
					
			</div>
			
			<div class="modal-footer">
				
				
			</div>
		</div>
		
		<!-- Add listing -->
		<div id="addListingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Add Listing</h3>
			</div>
			<div id="addListingModalBody" class="modal-body">
			</div>	
		</div>	
		<!-- END TOP BAR -->
	
		<!-- MAIN CONTENT AREA -->
		<div class="container">
		{% block content %}
		{% endblock %}
		</div>
		<!-- END MAIN CONTENT AREA -->
		
		<!-- FOOTER -->
		{% block footer %}
		<div class="container">
			<hr>
			<footer>
				<p>© ThisForThat</p>
			</footer>
		</div>
		{% endblock %}
		<!-- END FOOTER -->
  </body>
</html>
