{% extends "base.html" %}
{% load verbatim %}

{% block content %}
<div class="container">
	<h2>Browse Listings</h2>
	<table class="table table-striped" id="listings">
		<thead>
			<tr>
				<th>Photo</th>
				<th>Title</th>
				<th>Description</th>
				<th>Date Posted</th>
			</tr>
		</thead>
		<tbody>
			{% verbatim %}
			<script id="ListingRowTpl" type="text/html">
				<tr>
					<td>{{ photo }}</td>
					<td>{{ title }}</td>
					<td>{{ description }}</td>
					<td>{{ date_created }}</td>
					<td><a href="#">View Details</a></td>
				</tr>
			</script>
			{% endverbatim %}
		</tbody>
	</table>
</div>
{% endblock %}
