{% extends "base.html" %}

{% block content %}
<div class="container">
      <div class="hero-unit">
        <h2>Trade your stuff. For free!</h2>
        <p>Have something you don't want anymore? Need something but don't want to pay for it? ThisForThat is a website designed to give you the ability
		to trade unwanted items for something that you want. ThisForThat is a place where you can post items, search for items, and trade for items in one convenient location.
		Sign up today and let the trading begin!</p>
        <p><a href="#reg-modal" role="button" data-toggle="modal" class="btn btn-primary btn-large">Sign up »</a></p>
      </div>
      
      <div id="carouselRecentListings" class="carousel slide">
	      <ol class="carousel-indicators">
	         {% for listing in listings %}
	            {% if forloop.counter0 == 0 %}
	             <li data-target="#carouselRecentListings" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
	            {% else %}
	              <li data-target="#carouselRecentListings" data-slide-to="{{ forloop.counter0 }}"></li>	
	            {% endif %}
	          {% endfor %}
	       </ol>	 
	              <!-- Carousel items -->	
	      <div class="carousel-inner">
	      {% for listing in listings %}
	        {% if forloop.counter0 == 0 %}
	          <div class="active item">
	        {% else %}
	          <div class="item">
	        {% endif %}
	          <img id="carouselImage" src="/static/media/{{ listing.photo }}" alt="" />
	          <div class="carousel-caption">
	            <h4>{{ listing.title }}</h4>
	            <p>{{ listing.description }}</p>
	          </div>
	      </div>
	      {% endfor %}
	      
	      <!-- Carousel nav --> 	 	
	        <a class="carousel-control left" href="#carouselRecentListings" data-slide="prev">&lsaquo;</a>	
	        <a class="carousel-control right" href="#carouselRecentListings" data-slide="next">&rsaquo;</a>
	     </div>
	     </div>
	
	      <div class="row">
			<div class="span4">
	          <h3>Sign up!</h3>
	          <p>Sign up is quick and easy. Just need your name, email address, and we're ready to go!</p>
	          <p><a class="btn" href="#reg-modal" data-toggle="modal">Sign Up »</a></p>
	        </div>
	        <div class="span4">
	          <h3>Have something to trade?</h3>
	          <p>If you have something that you would like to get rid of, or something you just don't need anymore, upload it onto ThisForThat for others to see and offer you stuff for it!</p>
	          <p><a class="btn" href="#addlisting-modal" data-toggle="modal">Upload an item »</a></p>
	        </div>
	        <div class="span4">
	          <h3>Make an offer!</h3>
	          <p>Find something you like? Make an offer! You never know, another persons trash can be your treasure!</p>
	          <p><a class="btn" href="/browse">Browse Listings»</a></p>
       		</div>
      	</div>
  	
</div>

{% endblock %}
