{% extends "base.html" %}

{% block content %}
<h1>Trade your stuff. For free. </h1><br/>
<h2>10 most recent listings</h2>
<div id="carouselRecentListings" class="carousel slide">
	<ol class="carousel-indicators">
		{% for listing in listings %}
			{% if forloop.counter0 == 0 %}
				<li data-target="#carouselRecentListings" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
			{% else %}
				<li data-target="#carouselRecentListings" data-slide-to="{{ forloop.counter0 }}"></li>
			{% endif %}
		{% endfor %}
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		{% for listing in listings %}
			{% if forloop.counter0 == 0 %}
				<div class="active item">
			{% else %}
				<div class="item">
			{% endif %}
				<img id="carouselImage" src="{{ MEDIA_ROOT }}{{ listing.photo }}" alt="" />
				<div class="carousel-caption">
					<h4>{{ listing.title }}</h4>
					<p>{{ listing.description }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#carouselRecentListings" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#carouselRecentListings" data-slide="next">&rsaquo;</a>
</div>
{% endblock %}
