{% extends "base.html" %}

{% block content %}
<div class="container">
 <div style="min-height:100px;">
  <div id="imagediv" style="float:left;margin-right:10px;">   
   <img src="/static/media/{{listing_detail.photo}}" height="300px" width="300px"></img>
  </div>
  <div style="float:justified;">   
   <div id="titlediv" style="float:justified;height:25px; style="margin-bottom: 10px"">
    <h2 id="lblTitle">{{ listing_detail.title }}</h2>
   </div>
   <div id="descdiv" style="text-align:left;float:justified;align:left; margin-top: 20px">
    <p>{{ listing_detail.description }} </p>
   </div>
  </div>
 </div>
 <hr>
 <div class="row">
  <div class="span6">
   <table>
    <tr>
     <td>
      <h2>Contact Information</h2>
      <div id="userinfodiv" style="width:400px float: left;">
       <p><strong>Username: </strong> {{listing_detail.user.username}}</p>
       <p><strong>Email: </strong>{{listing_detail.user.email}}</p>
      </div>
     </td>
    </tr>
   </table>
        </div>
        <div class="span6">
        <h2>Offers</h2>
  <table class="table table-striped">
   <thead>
    <tr>
     <th>Username</th>
 	 <th>Title</th>
     <th>Description</th>
     <th>Date Offered</th>
    </tr>
   </thead>
   <tbody>
   <tr>
 	{% for offer in offers_detail %}
    <td>{{offer.user.username}}</td>
 	<td>{{offer.title}}</td>
    <td>{{offer.description}}</td>
    <td>{{offer.date_created}}</td>
 	{% if user.is_authenticated and user.id == listing_detail.user.id %}
 	<td><a href="/accept_offer/{{listing.listing_id}}">Accept offer</a></td>
 	{% endif %}
 	{% endfor %}
   </tr>
   </tbody>
  </table>
  <div class="pagination">
  		{% if offers_detail %}
	    <span class="step-links">
	        <span class="current">
	            Page {{ offers_detail.number }} of {{ offers_detail.paginator.num_pages }}
	        </span>
	        
	        <br />
	        
	        {% if offers_detail.has_previous %}
	            <a href="?page={{ offers_detail.previous_page_number }}">&lt;</a>
	        {% endif %}
	
	        {% if offers_detail.has_next %}
	            <a href="?page={{ offers_detail.next_page_number }}">&gt;</a>
	        {% endif %}
	    </span>
	    {% endif %}
  </div>
  {% if user.is_authenticated and not user.id == listing_detail.user.id %}
  <button class="btn btn-primary" onClick="parent.location='/new_offer/{{listing_detail.listing_id}}'">Make an offer!</button>
  {% endif %}
        </div>
      </div>
</div>
{% endblock %}