{% extends "base.html" %}
<form id="add_listing" action="/new_listing/" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
<input class="btn btn-primary" type="submit" value="Add Listing">
</form>

<script type="text/javascript">
	$(function() {
		$("#add_listing").submit(function(e) { 
			e.preventDefault();

			dataString = $("#add_listing").serialize();

			$.ajax({
				type : "POST",
				url : "/new_listing/",
				data : dataString,
				success : function(data) {
					$('#addListingModalBody').html(data)
				},
				failure : function(errMsg) {
					$('#addListingModalBody').html("Request failed. Please try again later.");
				},
			});

		});
	}); 
