{% extends "base.html" %}
{% block content %}
<h1>Trade Center</h1>
<hr>
<h3>Your listings</h3>  
<table style="margin-top:-30px;" class="table table-striped">
   <thead>
    <tr>
  	 <th>Title</th>
     <th>Description</th>
     <th width="220">Listed on</th>
 	 <th width="120">Offers Received</th>
    </tr>
   </thead>
    <tbody>
  	{% for listing in user_listings %}
   <tr> 
 	<td>{{listing.title}}</td>
    <td>{{listing.description}}</td>
    <td>{{listing.date_created}}</td>
 	<td>{{listing.offerCount }}</td>
   </tr>
   	{% empty %}
  	<td>You have no listings</td>
  	{% endfor %}
   </tbody>
 </table>
<hr>
<h3>Offers you've made on listings</h3>
<hr>
<table style="margin-top:-30px;" class="table table-striped">
   <thead>
    <tr>
  	 <th>You offered a</th>
     <th>For a </th>
     <th width="220">Trade status</th>
    </tr>
   </thead>
    <tbody>
  	{% for offer in users_offers %}
   <tr> 
 	<td><a href="/offer_details/{{offer.offer_id}}">{{offer.title|truncatechars:70}}</a></td>
    <td><a href="/listing_details/{{offer.listing_id}}">{{offer.listingTitle|truncatechars:70}}</a></td>
    <td>{{offer.status}}</td>
   </tr>
   	{% empty %}
  	<td>You've made no offers.</td>
  	{% endfor %}
   </tbody>
 </table>

{% endblock %}